body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background-color: #FEF9F3;
}

.entirepagesection {
  width: 1280px;
  background-color: #E8DFC3;
  height: 800px;
  margin: 0 auto;
  /* float: left; */
}
header {
  margin: 0 auto;
  width: 1280px;
  height: 100px;
  /* background-color: red; */
}
header img{
  float: left;
  width: 80px;
}
header h3 {
  float: left;
  padding-left: 30px;
  font-size: 25px;
  margin-bottom: 5px;
  position: relative;
  top: -11px;
  left: -20px;
  
}
.myanimal {
  padding-left: 321px;
  font-size: 30px;
  padding-top: 14px;

}
.insideof-section {
  background-color: #D2B78B;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 35px;
  position: absolute;

}
.leftside {
  width: 50%;
  height: 100%;
  background-color: white;
  float: left;
}
.leftside img{
text-align: center;
margin-left: 250px;
margin-top: 50px;
}
.leftside h3 {
  text-align: center;
  font-size: 35px;
  color: #D2B78B;
}
.rightside {

  height: 640px;
}
.rightside img{
  position: absolute;
  z-index: 0;

}
.rightside h1{
  text-align: center;
  color: white;
  font-size: 45px;
  padding-top: 150px;
  z-index: 1;
}
.rightside h4{
color: white;
text-align: center;
padding-top: 150px;
}
.rightside button {
  background-color: white;
  color: #D2B78B;
  border-radius: 50px;
  font-size: 35px;
  border: none;
  font-family: 'comfortaa';
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 160px;
}
.leftside input{
  border: none;
  font-size: 25px;
  border-bottom: 1px solid black;
}
.movethemright{
  margin-left: -120px;
}
.movethemright h4{
  padding-left: 10px;
  bottom: 10px;
  color: #D2B78B;
  text-align: center;
}
.leftside img{
  position: relative;
  align-items: left;
}
.movethemright button{
  font-size: 37px;
    background-color: #D2B78B;
    color: white;
    border: none;
    border-radius: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 238px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.floatimageslefthere img{
  float: left;
}
.movethemright h3{
  margin-left: -110px;
}
.google, .facebook {
  top: -70px;
}
.facebook {
  left: -240px;
}
.gobackhome {
  float: right;
    background-color: white;
    color: #D2B78B;
    border-radius: 50px;
    font-size: 35px;
    border: none;
    font-family: 'comfortaa';
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 160px;
    bottom: 61px;
    right: 19px;
    border: 0.5px solid #D2B78B;
    position: relative;

}





