/* COLORS: #707070 -text 
#fef9f3 - body 
buttons and circles #D8B687
#8F7959 border bottom




*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background-color: #FEF9F3;
}
nav {
  margin: 0 auto;
  /* float: left; */
  /* background-color: cyan; */
  width: 1280px;
  height: 85px;
  border-bottom: #8F7959 solid 2px;
}
nav img {
  width: 75px;
  margin: 5px;
  float: left;
}
nav h3 {
  margin: 0;
  color: #707070;
  padding-top: 26px;
  font-size: 30px;
  position: relative;
  padding-left: 10px;
  float: left;
}
nav ul{
  float: left;
  list-style-type: none;
  margin-left: 60px;
}
nav ul li{
  float: left;
  padding-left: 25px;
  font-size: 30px;
  margin-top: 10px;
}
nav img img{
  width: 16px;
}
.floatedright {
  float: right;
  margin-top: 17px;

}
.floatedright img {
  width: 30px;
  margin-top: 10px;
  margin-right: 15px;
  
}
.floatedright button {
  border-radius: 50px;
  font-size: 30px;
  margin-right: 20px;
  background-color: #D8B687;
  border: none;
  color: white;
  padding: 8px 15px;

  
}
.section1 {
  height: 823px;
  width: 1280px;
  margin: 0 auto;
  background-color: #f9f2e5;
}
.behindcatrectangle {
  position: relative;
    top: 69px;
    border-radius: 259px;
    left: 63px;
    width: 451px;
    height: 700px;
    background-color: #D8B687;
    float: left;
}
.cat {
  position: relative;
    margin-left: -344px;
    margin-top: 155px;
    width: 400px;
    float: left;
}
.paw1 {
  margin-top: 60px;
  float: left;

}
.paw2 {
  float: left;
  bottom: 0px;
  position: absolute;
  width: 100px;
  margin-bottom: 111px;
   
    margin-left: -112px;
}
.headertext{
  color: #7F5E3B;
    padding-top: 122px;
    font-size: 70px;
    margin-left: 40px;
    position: absolute;
    padding-left: 50px;
    text-align: left;
    right: 350px;
    top: 134px;
}
.paw3 {
  float: right;
  margin-right: 20px;
  margin-top: 160px;
}
.section1 p{
  float: left;
  font-size: 20px;
  margin-top: 180px;
  font-weight: bold;
  margin-left: 50px;
  opacity: 65%;

}
.twobuttons {
  float: left;
  margin-left: 110px;
  margin-top: 10px;
}
.twobuttonss {
  /* float: left;
  margin-left: 30px; */
  background-color: #D8B687;
  padding: 5px 10px;
  color: white;
  font-size:30px;
  border-radius: 30px;
  border: none;
}
.button2 img {
  width: 29px;
  top: 3px;
  left: 3px;
  position: relative;
}
.bgcolorwhite {
  background-color: white;
  color: #707070;
}
.section1rightsidecircle {
  width: 100px;
  height: 100px;
  background-color: #D8B687;
  float: right;
  margin-top: 100px;
  border-radius: 50%;
  margin-left: 30px;
}
.clearfloat {
  clear: both;
}
.section2 {
  width: 1280px;
  margin: 0 auto;
  height: 650px;
  background-color: #FEF9F3;
  /* background-color: red; */
  /* border: 1px solid black; */
  margin-top: 0px;
  clear: both;
  position: relative;
  /* border-bottom: 1px solid black; */
}
.section2paw1 {
  margin-top: 20px;
  margin-left: 20px;
  
  
}
.section2 h1 {
  color: #7f5e3b;
  font-size: 47px;
  text-align: center;
}
.section2 p{
  text-align: center;
    left: 0px;
    position: relative;
    /* margin-top: 0; */
    margin-top: -20px;
    
    color: #707070;
    font-size: 20px;
}
.section2-text {
  /* background-color: cyan; */
  width: 775px;
  margin-left: 50px;
}
.section2-paw2{
  /* transform: rotate(40deg); */
  width: 150px;
  margin-left: 90px;
  float: left;
}
.section2-paw3 {
  float: right;
  margin-right: 500px;
  margin-top: 65px;
}
.dogcircle {
  height: 400px;
  width: 400px;
  background-color: #D8B687;
  float: right;
  margin-top: -460px;
  margin-right: 45px;
  border-radius: 50%;
  /* position: absolute; */
}
.dogimg {
  float: right;
  clear: both;
  margin-top: -50px;
  position: absolute;
}
.dog-button {
  margin-left: 75px;
  padding-left: 40px;
  padding-right: 40px;
}
.thirdsection {
  background-color: #f9f2e5;
  height: 437px;
  width: 1280px;
  margin: 0 auto;
  border-bottom: 30px solid #fef9f3;
  text-align: center;
}
.firstsquare {
  margin-left: 41px;
  background-color: #D8B687;
  height: 354px;
    width: 370px;
    float: left;
    margin-right: 41px;
    border-radius: 50px;

    margin-top: 40px;
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}
.secondsquare, .thirdsquare {
  margin-top: 40px;
  background-color: #FEF9F3;
  height: 354px;
    width: 371px;
    float: left;
    margin-right: 41px;
    border-radius: 50px;
    /* border: 1px solid #707070; */
    box-shadow: 3px 4px 5px 0px #707070;;
-webkit-box-shadow: 3px 4px 5px 0px #707070;;
-moz-box-shadow: 3px 4px 5px 0px #707070;;
}
.icons {
  background-color: #B7926D;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.icons img{
  margin-top: 20px;
}
.icons2{
  background-color: #D8B687;
  color: black;
}
.icons2 p{
  color: black;
  text-align: left;
}
.icons {
  font-size: 25px;
  text-align: center;
  color: white;
}
.icons2 img{
  margin-top: 30px;
}
.icons2 h3{
  color: black;
}
.firstsquare, .secondsquare, .thirdsquare {
  font-size: 20px;
}
.firstsquare {
  color: white;
}
footer {
  height: 300px;
  width: 1280px;
  background-color: #f9f2e5;
  margin: 0 auto;
}
footer h3{
  font-size: 35px;
  padding-top: 20px;
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
}
footer input{
  background-color: #f9f2e5;
  border: none;
  font-size: 35px;
  color: #707070;
  font-family: 'comfortaa';
  margin-left: 23px;
  /* margin-top: 50px; */
}
footer img{
  margin-left: -130px;
}
.joinus {
  width: 30%;
  border-bottom: 3px solid #707070;
}
.privacyandterms {
  margin: 0 auto;
  position: absolute;
  /* height: px; */
  width: 430px;
  font-size: 20px;
  /* background-color: cyan; */
  left: 40%;
  margin-top: 5%;
}
.privacytext {
  float: left;

}


.termstext {
  float: right;
}
.floatright {
  float: right;
  margin-top: -160px;
  margin-right: 20px;
  font-size: 25px;
  text-align: center;
}
.floatedright h3 {
  padding-bottom: -50px;
}
.list{
  list-style-type: none;
  margin-top: -20px;
  padding-bottom: 10px;
  margin-right: 30px;
}
.list li{
  padding-bottom: 10px;
}
.footerpaw {
  right: 520px;
  display: inline;
  position: absolute;
  margin-top: 50px;
}


